:root {
    --background-light: #f0f2fa;
    --background-white: #f6f5ff;
    --text-dark: #0a0040;
    --color-primary: #6143ff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-white);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

.sidebar {
    width: 100px;
    background-color: var(--color-primary);
}

.sidebar img {
    max-width: 100%;
}

nav {
    height: 100px;
    width: calc(100vw - 100px);
    background-color: var(--background-light);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.btn {
    padding: 20px 30px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    border: 0;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

a.btn {
    text-decoration: none;
    margin-left: 5px;
}

.btn-primary {
    color: white;
    background-color: var(--color-primary);
}

main {
    display: flex;
    padding: 0px;
}

section.graph {
    width: 33%;
    height: 100%;
    padding: 20px 20px 0px 20px;
}

.graph_header {
    display: flex;
    justify-content: space-between;
}

.graph_header_subtitle {
    margin-top: 10px;
    display: flex;
}

.graph_placeholder {
    align-content: center;
    background-color: #ccc;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 300px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background: url("/assets/images/graph.png");
    background-size: contain;
}

h2 {
    display: inline-block;
    flex: 3;
    font-size: 18px;
}

.graph_header_date {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
}

.graph_header_line {
    flex: 2;
    width: 100px;
    height: 1px;
    background-color: rgba(0,0,0,.2);
    align-self: center;
    flex-direction: row;
    justify-content: center;
}

.tasks_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.list {
    padding: 20px 20px 0px 20px;
    flex: 1;
}

.list_header {
    display: flex;
}

.list_header_select {
    background-color: transparent;
    border: 0;
    font-size: 18px;
    color: var(--text-dark);
}

.task_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.task {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    border-bottom: 1px solid var(--background-light);
    transition: all .3s ease-in-out;
}

.task:hover {
    transform: scale(1.05);
    border-radius: 10px;
    overflow: hidden;
}

.task:hover {
    background-color: var(--background-light);
}

.title {
    display: flex;
    align-items: center;
    flex: 1;
}

.title_label {
    padding-left: 10px;
    font-weight: bold;
}

.sphere {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px;
}

.priority {
    flex-direction: row;
}

.actions {

    justify-content: flex-end;
}

.actions a {
    margin-left: 10px;
    margin-right: 10px;
    transition: all .3s ease-in-out;
}

.actions a:hover {
    transform: scale(1.3);
}

.priority, .actions {
    flex: 1;
    display: flex;
    align-items: center;
}

#create_task_section {
    margin: auto;
    padding-top: 20px;
}

#create_task_section h1 {
    text-align: center;
    margin-top: 20px;
}

.input_area {
    display: block;
    margin: 10px 0px 20px 0px;
}

.input_area label {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.input_area input, .input_area select {
    height: 40px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    background-color: rgba(255,255,255,.5);
}

.input_area textarea {
    height: 120px;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    background-color: rgba(255,255,255,.5);
}
